*.aps
*.bin
*.vcxproj.user
*.lastcodeanalysissucceeded
/intermediate/
/build/
/publish/
/setup/store/out/
/setup/store/*.pfx
/setup/store/*.cer
/setup/store/**/*.pfx
/setup/store/**/*.cer
/enc_temp_folder/
/.git/
.vs/
windirstat/res/lang_combined.txt
