# Directories
/.git/
/.claude/
/.vs/
/publish/
/contrib/
/build/
/enc_temp_folder/
intermediate/

# Files Masks
*.aps
*.bin
*.vcxproj.user
*.lastcodeanalysissucceeded
*_combined.txt

# Specific Files
/windirstat/res/LangStrings.h
