[% WRAPPER 'html-body.tt'
   title = 'Contact'
   description = 'Contact the team or a team member'
   uuid = '6dcfe529-89ef-44f1-903c-2614d8d56432'
   norder = '8000'
%]
[%- PROCESS 'constants.tt' -%]
{% if page.get and page.form %}
<p>All the fields have to be filled in ...</p>
{#<pre>{{ page|pprint }}</pre>#}
<form action="{{ page.form.uri|urlencode }}" method="post" accept-charset="utf-8">
<table width="100%" summary="Mailform">
<colgroup>
 <col width="30%" />
 <col width="70%" />
</colgroup>
<tr>
 <td>
 <b>Who should receive the message:</b>
 </td>
 <td>
 <input type="hidden" name="{{ page.form.hidden|e }}" value="{{ page.form.hidden_value|e }}" />
 <select name="{{ page.form.recipient|e }}">
  <option value="developers" selected="selected">Developers</option>
  [%- FOREACH key IN gpg_keys.sort('name') -%]<option value="[%- key.name | lower -%]">[%- key.name -%]</option>[%- END -%]
  <option value="team">The whole team</option>
 </select>
 </td>
 </tr>
<tr>
 <td>
 <b>Your email address:</b>
 </td>
 <td>
 <input type="text" name="{{ page.form.sender|e }}" class="feld_" />
 </td>
 </tr>
<tr>
 <td>
 <b>Subject line:</b>
 </td>
 <td>
 <input type="text" name="{{ page.form.subject|e }}" class="feld_" />
 </td>
 </tr>
<tr>
 <td colspan="2">
 <div><b>Here goes your text (barring technical issues it will be transmitted as encrypted email!):</b></div>
 <textarea name="{{ page.form.message|e }}" class="feld_" rows="20" cols="80" placeholder="Your message here (English or German). Deine Nachricht hier (Deutsch oder Englisch)."></textarea>
 </td>
 </tr>
<tr>
 <td colspan="2" style="text-align:center; ">
 <div><strong>NB:</strong> As a matter of courtesy you should consider adding your name (or even a pseudonym) in the message to us. You know our names as well. Besides, it makes it easier to address you in a response. Thank you.</div>
 <input type="submit" value="{{ page.form.send|e }}" class="btn" />
 </td>
 </tr>
</table>
</form>
<h3>Report an issue or defect ("bug")?</h3>
<p>
Please use <a class="wdslnk" href="[%- tracker_url -%]">the issue tracker over on Bitbucket</a> or for
security-related reports use a PGP-encrypted email. See below for public keys available.
</p>
<h3>Email from your own client?</h3>
<p>
If you prefer to send an email, i.e. not use this contact form, you can use the lowercase form of the team
member's first name and append the at sign and then <tt>windirstat.net</tt> to it to get the email address
of that team member (i.e. <tt>&lt;name&gt;@windirstat.net</tt>).
If you can't remember the names, use the dropdown box above to receive a clue ;)
</p>
<h3>Using PGP to encrypt communication or to verify emails we send out</h3>
<p>
You are encouraged to use the following <a class="wdslnk" href="https://en.wikipedia.org/wiki/Pretty_Good_Privacy">PGP</a>
public keys to encrypt communication <em>to</em> us. The keys will be available from commonly used key servers such as
pgp.mit.edu or subkeys.pgp.net.
</p>
<ul>
[%- FOREACH key IN gpg_keys.sort('name') -%]
[%- IF key.id -%]
<li><strong>[%- key.name -%]:</strong><br />&nbsp;&nbsp;PGP key ID: <a class="wdslnk" href="[%- key.id | format(gpg_search_fmt) -%]">[%- key.id -%]</a>,<br />&nbsp;&nbsp;&nbsp;&nbsp;key fingerprint: <tt>[%- key.fingerprint -%]</tt></li>
[%- END -%]
[%- END -%]
</ul>
{% elif page.success %}
<h1><span lang="en">Success</span> / <span lang="de">Erfolg</span></h1>
<section lang="en">
  <h2>Your email was sent successfully (delivery may still fail, though)</h2>
</section>
<section lang="de">
  <h2>Ihre Email wurde erfolgreich verschickt (die Zustellung kann dennoch fehlschlagen)</h2>
</section>
<article><pre>{{ page.message|e }}</pre></article>
{% else %}
<h1><span lang="en">Error</span> / <span lang="de">Fehler</span> {{ page.status.code|default("-1")|e }}</h1>
<section lang="en">
  <h2>An error occurred when processing your request.</h2>
  <p>Status code {{ page.status.code|default("-1")|e }}: {{ page.status.description|default("Unspecified error")|e }}</p>
</section>
<section lang="de">
  <h2>Während der Verarbeitung Ihrer Anfrage kam es zu einem Fehler.</h2>
  <p>Statuscode {{ page.status.code|default("-1")|e }}: <span lang="en">{{ page.status.description|default("Unspecified error")|e }}</span> (Beschreibung auf Englisch)</p>
</section>
{% if page.message is defined %}
<article><pre>{{ page.message|e }}</pre></article>
{% endif %}
{% endif %}
[% END %]
