[% WRAPPER 'html-body.tt'
   title = 'Contact'
   description = 'Contact the team or a team member'
   uuid = 'a57cd25d-42ee-4e3a-aa24-f42b9548dbdd'
   norder = '9989'
%]
<p>All the fields have to be filled in ...</p>
<p><strong>NB:</strong> As a matter of courtesy you should consider adding your name (or even a pseudonym) in the message to us. You know our names as well. Besides, it makes it easier to address you in a reply. Thanks.</p>
<form action="/bin/sendmail.cgi" method="post" accept-charset="utf-8">
<table width="100%" summary="Mailform">
<colgroup>
 <col width="30%" />
 <col width="70%" />
</colgroup>
<tr>
 <td>
 <b>Who should receive the message?:</b>
 </td>
 <td>
 <select name="Recipient">
  <option value="team" selected="selected">The whole team</option>
  <option value="bernhard">Bernhard</option>
  <option value="oliver">Oliver</option>
  <option value="juan">Juan</option>
 </select>
 </td>
 </tr>
<tr>
 <td>
 <b>Your email address (max. 100 chars):</b>
 </td>
 <td>
 <input type="text" name="Sender" maxlength="100" class="feld_" />
 </td>
 </tr>
<tr>
 <td>
 <b>Subject (max. 100 chars):</b>
 </td>

 <td>
 <input type="text" name="Subject" maxlength="100" class="feld_" />
 </td>
 </tr>
<tr>
 <td colspan="2">
 <b>Here goes your text:</b><br />
 <textarea name="Mailtext" rows="15" cols="60" class="feld3"></textarea>
 </td>
 </tr>
<tr>
 <td colspan="2" style="text-align:center; ">
 <input type="submit" value="Send" class="btn" />
 </td>
 </tr>
</table>
</form>
<h3>Report a bug?</h3>
<p>
Please use the trackers over over on our SourceForge project page or for sensitive matters use a PGP-encrypted
email. See below for public keys available.
</p>
<h3>Email from your own client?</h3>
<p>
If you prefer to send an email, i.e. not use this contact form, you can use the lowercase form of the team
member's first name and append the at sign and then <tt>windirstat.info</tt> to it to get the email address
of that team member. If you can't remember the names, use the dropdown box above to receive a clue ;)
</p>
<h3>Using PGP to encrypt communication or to verify emails we send out</h3>
<p>
You can use the following PGP public keys to encrypt <em>to</em>. The keys will be available from commonly
used key servers such as pgp.mit.edu or subkeys.pgp.net. Please use the traditional ASCII armor in your
first communication to establish whether S/MIME can be used in future communication.
</p>
<ul>
<li>Oliver: ID: <tt>0x6190BC32</tt>, fingerprint: <tt>58F4 12A6 E0E8 9A7C A849  F0E2 9E9B CC53 6190 BC32</tt></li>
</ul>
[% END %]
