[%- PROCESS 'constants.tt' -%]
[% WRAPPER 'html-body.tt'
   title = 'Downloads, permalinks'
   description = 'Permalinks to downloads and other content'
   uuid = '8dccb375-74a0-4fde-a733-0019572b0646'
   norder = '1000'
%]
<ul class="download">
<li class="download">WinDirStat [%- currver -%] from <a class="wdslnk" href="[%- download_FH -%]">FossHub</a>, <a class="wdslnk" href="[%- download_SF -%]">SourceForge</a> or <a class="wdslnk" href="[%- dlbase_M1 -%]/[%- fname_setup -%]">Triple IT</a></li>
<li class="download_src">Source code repositories: <a href="/project/">SourceForge</a> (primary) or <a href="/bitbucket/">Bitbucket</a> (secondary). For source code in <tt>.7</tt> and <tt>.zip</tt> format, see below.</li>
</ul>

<p><strong>Please verify your download afterwards.</strong> The hashes of the setup file are: <tt>MD5: [%- download_MD5 -%]</tt> and  <tt>SHA1: [%- download_SHA1 -%]</tt>.
You can use <a href="http://support.microsoft.com/kb/841290">File Checksum Integrity Verifier from Microsoft</a> to verify the file hashes (the link describes how to use it to check file hashes).</p>

<p>
The <tt>.exe</tt> files contained in the installer have the following SHA1 hashes (Unicode and ANSI version respectively):</p>

<ul>
<li><tt>752e1687d58de3bef927d9ad24c0ed3da3754e17 *release/windirstat.exe</tt></li>
<li><tt>26e14a532e1e050eb20755a0b7a5fea99dd80588 *urelease/windirstat.exe</tt></li>
</ul>

<h3>License</h3>
<p>WinDirStat is free software published under the GNU General Public License, version 2.</p>
<p>In general that means you are free to do whatever you like with the binary form (mirror it, put it on media accompanying printed magazines and also use it inside your company) free of charge. You also need not notify us in any way, although we appreciate feedback. The same holds for printed magazines interested in putting WinDirStat on a CD or DVD accompanying their publication. However, we'll happily provide the paperwork, if needed.</p>

<h3>Compatibility</h3>
<p>It is known to run on Windows 95 (IE5), Windows 98 SE, Windows ME, Windows NT4
(SP5), Windows 2000, Windows XP, Windows Vista, Windows 7, 8 and 8.1.<br />
Server versions of Windows generally work as well, but aren't always tested as well by us. Feel free to get in touch with us if you want to lend a hand :)
</p>

<h3>Canonical links</h3>
<p>
  If you want to link to this website or one of the resources, please use the following links.
  They point to the mirrors of SourceForge and are guaranteed to link to the current release always,
  whereas the actual links on the project page will change with each release:
</p>

<ul>
  <li class="bigspace">Website:<br />
    <a href="/">windirstat.info</a><br />
	This website. Available via HTTP or HTTPS (encrypted).
  </li>
  <li class="bigspace">WinDirStat Subreddit:<br />
    <a href="/reddit/">windirstat.info/reddit/</a><br />
	This is meant as a place to discuss the program, get help and suggest improvements or bring errors to our attention.
  </li>
  <li class="bigspace">Blog:<br />
    <a href="http://blog.windirstat.info">blog.windirstat.info</a><br />
	Announcements, thoughts and of course - through comments - a place for discussions around WinDirStat.
  </li>
  <li class="bigspace">SourceForge.net project summary page:<br />
    <a href="/project/">windirstat.info/project/</a><br />
	This is the original home of WinDirStat and location of the authoritative copy of the source repository.
  </li>
  <li class="bigspace">Bitbucket team page:<br />
    <a href="/bitbucket/">windirstat.info/bitbucket/</a><br />
	A Bitbucket team which can be used for those of you willing and able to contribute and already having a Bitbucket account. Send me pull requests, open issues or help create and improve Wiki pages.<br/>
	There is also a Wiki and an issue tracker there to report errors, feature requests or generally any issues you may encounter when using WinDirStat.
  </li>
  <li class="bigspace">Current installer (version [%- currver -%]):<br />
    <a href="/wds_current_setup.exe">windirstat.info/wds_current_setup.exe</a>
  </li>
  <li class="bigspace">Current Source release:<br />
    <a href="/wds_current_source.zip">windirstat.info/wds_current_source.zip</a>, same file alternatively from <a href="[%- dlbase_M1 -%]/[%- fname_src_zip -%]">mirror #1</a>, <br/> and <br/>
    <a href="/wds_current_source.7z">windirstat.info/wds_current_source.7z</a> (smaller), same file alternatively from <a href="[%- dlbase_M1 -%]/[%- fname_src_7z -%]">mirror #1</a>.
  </li>
</ul>
<h3>Thanks</h3>
<p>
Our heartfelt gratitude goes to the following companies and organizations in alphabetical order for supporting WinDirStat:
</p>
<ul>
  <li class="bigspace">Atlassian/Bitbucket<br />
    <a href="https://bitbucket.org/">bitbucket.org</a><br />
	... for their project mirror, the issue tracker and generally an attractive project space.
  </li>
  <li class="bigspace">FossHub<br />
    <a href="http://www.fosshub.com/">www.fosshub.com</a><br />
	... for their download mirror and <a href="[%- download_FH -%]">informative review page</a>.
  </li>
  <li class="bigspace">SourceForge<br />
    <a href="http://sourceforge.net/">sourceforge.net</a><br />
	... for hosting the project and source repositories from the very start.
  </li>
  <li class="bigspace">Triple IT<br />
    <a href="https://www.triple-it.nl/">www.triple-it.nl</a><br />
	... for their generous offer of an independent file download mirror (base directory <a href="[%- dlbase_M1 -%]/">here</a>).
  </li>
</ul>
[% END %]
