[% WRAPPER 'html-body.tt'
   title = 'Downloads, permalinks'
   description = 'Permalinks to downloads and other content'
   uuid = '8dccb375-74a0-4fde-a733-0019572b0646'
   norder = '1000'
%]
<p>WinDirStat is free software published under the GNU General Public License.</p>
<p>It is known to run on Windows 95 (IE5), Windows 98 SE, Windows ME, Windows NT4 (SP5), Windows 2000, Windows XP, Windows Server 2003, Windows Vista, and Windows 7.
</p>
<p>Please download the installer from the
<a href="http://sourceforge.net/projects/windirstat/">sourceforge project summary page</a>
or follow one of the links below.
</p>
<p>
  If you want to link to this website or one of the resources, please use the following links.
  They point to the mirrors of SourceForge and are guaranteed to link to the current release always,
  whereas the actual links on the project page will change with each release:
</p>

<ul>
  <li class="bigspace">Website:<br />
    <a href="/">http://windirstat.info</a>
  </li>
  <li class="bigspace">Blog:<br />
    <a href="http://blog.windirstat.info">http://blog.windirstat.info</a>
  </li>
  <li class="bigspace">Current installer:<br />
    <a href="/wds_current_setup.exe">http://windirstat.info/wds_current_setup.exe</a>
  </li>
  <li class="bigspace">Current Source release:<br />
    <a href="/wds_current_source.zip">http://windirstat.info/wds_current_source.zip</a> <br/> or <br/>
    <a href="/wds_current_source.7z">http://windirstat.info/wds_current_source.7z</a>
  </li>
</ul>
[% END %]
