[%- PROCESS 'constants.tt' -%]
[% WRAPPER 'html-body.tt'
   title = 'Downloads, permalinks'
   description = 'Permalinks to downloads and other content'
   uuid = '8dccb375-74a0-4fde-a733-0019572b0646'
   norder = '1000'
%]
<ul class="download">
<li class="download">WinDirStat [%- currver -%] from <a class="wdslnk" href="[%- download_DBS -%]">DownloadBestSoft</a></li>
<li class="download">WinDirStat [%- currver -%] from <a class="wdslnk" href="[%- download_SF -%]">SourceForge.net</a></li>
</ul>

<p>Please verify your download afterwards. The hashes are: <tt>MD5: [%- download_MD5 -%]</tt> and  <tt>SHA1: [%- download_SHA1 -%]</tt>.</p>

<h3>License</h3>
<p>WinDirStat is free software published under the GNU General Public License.</p>
<p>In general that means you are free to do whatever you like with the binary form (mirror it, put it on media accompanying printed magazines and also use it inside your company) free of charge. You also need not notify us in any way, although we appreciate feedback.</p>

<h3>Compatibility</h3>
<p>It is known to run on Windows 95 (IE5), Windows 98 SE, Windows ME, Windows NT4
(SP5), Windows 2000, Windows XP, Windows Server 2003, Windows Vista, and Windows 7.
</p>

<h3>Canonical links</h3>
<p>
  If you want to link to this website or one of the resources, please use the following links.
  They point to the mirrors of SourceForge and are guaranteed to link to the current release always,
  whereas the actual links on the project page will change with each release:
</p>

<ul>
  <li class="bigspace">Website:<br />
    <a href="/">windirstat.info</a><br />
	This website. Available via HTTP or HTTPS (encrypted).
  </li>
  <li class="bigspace">WinDirStat Subreddit:<br />
    <a href="/reddit/">windirstat.info/reddit/</a><br />
	This is meant as a place to discuss the program, get help and suggest improvements or bring errors to our attention.
  </li>
  <li class="bigspace">Blog:<br />
    <a href="http://blog.windirstat.info">blog.windirstat.info</a><br />
	Announcements, thoughts and of course - through comments - a place for discussions around WinDirStat.
  </li>
  <li class="bigspace">SourceForge.net project summary page:<br />
    <a href="/project/">windirstat.info/project/</a>
	This is the original home of WinDirStat and remains the location of the authoritative copy of the repository.
  </li>
  <li class="bigspace">Bitbucket team page:<br />
    <a href="/bitbucket/">windirstat.info/bitbucket/</a><br />
	A Bitbucket team which can be used for those of you willing and able to contribute and already having a Bitbucket account. Send me pull requests, open issues or help create and improve Wiki pages.
  </li>
  <li class="bigspace">Github team page:<br />
    <a href="/github/">windirstat.info/github/</a><br />
	All of you Git aficionados who prefer to develop with Git send me pull requests on Github. The authoritative copy is still going to be the one on SourceForge.
  </li>
  <li class="bigspace">Current installer (version [%- currver -%]):<br />
    <a href="/wds_current_setup.exe">windirstat.info/wds_current_setup.exe</a>
  </li>
  <li class="bigspace">Current Source release:<br />
    <a href="/wds_current_source.zip">windirstat.info/wds_current_source.zip</a> <br/> or <br/>
    <a href="/wds_current_source.7z">windirstat.info/wds_current_source.7z</a>
  </li>
</ul>
[% END %]
