[% WRAPPER 'html-body.tt'
   title = 'Home'
   description = 'Windows Directory Statistics'
   uuid = '92e5b3ac-10ac-418e-97f9-8156b67c1d57'
   norder = '0000'
%]
<p>WinDirStat is a disk usage statistics viewer and cleanup tool 
for various versions of <strong>Microsoft Windows</strong>.<br /><strong><em>Note:</em></strong> if you are looking for an alternative for <strong>Linux</strong>, you are looking for <a class="wdslnk" href="http://kdirstat.sourceforge.net/">KDirStat</a> (<tt>apt-get install kdirstat</tt> or <tt>apt-get install k4dirstat</tt> on Debian-derivatives) or <a class="wdslnk" href="https://github.com/shundhammer/qdirstat" >QDirStat</a> and for <strong>MacOS X</strong> it would be <a class="wdslnk" href="http://www.derlien.com/">Disk Inventory X</a> or <a class="wdslnk" href="http://grandperspectiv.sourceforge.net/">GrandPerspective</a>.</p>
<p>Please visit the <a href="https://blog.windirstat.net" class="wdslnk">WinDirStat blog</a> for more up-to-date information about the program.</p>
<p>On start up, it reads the whole directory tree once and then presents it in three useful views:</p>
<ul>
<li>The directory list, which resembles the tree view of the Windows Explorer but is sorted by file/subtree size,</li>
<li>The treemap, which shows the whole contents of the directory tree straight away,</li>
<li>The extension list, which serves as a legend and shows statistics about the file types.</li>
</ul>
<img src="/images/windirstat.jpg" alt="Screenshot"/>
<p>The treemap represents each file as a colored rectangle, the area of which is proportional to the file's size. The rectangles are arranged in such a way, that directories again make up rectangles, which contain all their files and subdirectories. So their area is proportional to the size of the subtrees. The color of a rectangle indicates the type of the file, as shown in the extension list. The cushion shading additionally brings out the directory structure.
</p>
[% END %]
