[% WRAPPER 'html-body.tt'
   title = 'Logos'
   description = 'Logos / icons'
   uuid = '51f50289-c61f-4cf7-ac07-fd236f442f39'
   norder = '9999'
%]
<p>Logo design by Robin &ldquo;tuqueque&rdquo; Marín.
The logos are available under the terms of the Creative Commons license <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
<h3>Application icon</h3>
<p>Different resolutions, colored, dithered, black & white.<br />
<img src="/images/logo/WinDirStat_3d.ico" alt="WDS application icon" /></p>
<h3>Logo (color)</h3>
<p>Click for scalable SVG version.<br />
<a href="/images/logo/logo_color.svg"><img src="/images/logo/logo_color.png" alt="Colored WDS logo" width="512" height="512" /></a></p>
<h3>Logo (gray)</h3>
<p>Click for scalable SVG version.<br />
<a href="/images/logo/logo_gray.svg"><img src="/images/logo/logo_gray.png" alt="Grayscale WDS logo" width="512" height="512" /></a></p>
<h3>Logo (black/white)</h3>
<p>Click for scalable SVG version.<br />
<a href="/images/logo/logo_bw.svg"><img src="/images/logo/logo_bw.png" alt="Black and white WDS logo" width="512" height="512" /></a></p>
[% END %]
