[% WRAPPER 'html-body.tt'
   title = 'Translation Project'
   description = 'Translations of WinDirStat'
   uuid = '5da70447-d5f0-4895-8377-88f4a1ac8b3e'
   norder = '6000'
%]
  <p>WinDirStat is currently available in 12 languages: Czech, Dutch, Estonian, Finnish, German, 
  English, Spanish, French, Hungarian, Italian, Polish and Russian. Please have a look at the table
  below to find some details. The table is ordered by the numeric language identifiers,
  just in case you are curious about the order.
  </p>
  <p>
  Should you find any flaws in the current translations, please let us know via the
  means mentioned under <a href="../#Feedback">Feedback</a> on the main
  page. The same holds if you want to translate WinDirStat to another language.
  Although we have no experience with other than LTR (left-to-right) languages currently,
  we will try the best to get WinDirStat to work with RTL languages as well.
  It will be a challenge and a pleasure for us.
  </p>
  <table width="100%" class="langtab">
   <tr>
     <th class="langtabhead">Since Version
     </th>
     <th class="langtabhead">Language<br />(english)
     </th>

     <th class="langtabhead">Language<br />(local)
     </th>
     <th class="langtabhead">Language ID(s)
     </th>
     <th class="langtabhead">Screenshots <br />(Click for large view)
     </th>
   </tr>
   <tr>
     <td class="newest langtab"><br />1.1.2<br />&nbsp;

     </td>
     <td class="langtab"><br />Czech
     </td>
     <td class="langtab"><br />Ce&#x161;tina
     </td>
     <td class="langtab"><br />CES/CZE (0405)
     </td>
     <td rowspan="2" class="langtab bordleft">
       <a href="images/0405/select.png"><img src="images/0405/select.jpg" width="130" height="100" alt="Directory selection in Czech"/></a>
       <a href="images/0405/wds_full.png"><img src="images/0405/wds_full.jpg" width="138" height="100" alt="Overall interface in Czech"/></a>

     </td>
   </tr>
   <tr>
     <td colspan="4" class="translator">Thanks to TomR
     </td>
   </tr>
   <tr>
     <td class="langtab"><br />1.0.0<br />(+help)
     </td>

     <td class="langtab"><br />German
     </td>
     <td class="langtab"><br />Deutsch
     </td>
     <td class="langtab"><br />DEU/GER (0407)
     </td>
     <td rowspan="2" class="langtab bordleft">
       <a href="images/0407/select.png"><img src="images/0407/select.jpg" width="130" height="100" alt="Directory selection in German"/></a>
       <a href="images/0407/wds_full.png"><img src="images/0407/wds_full.jpg" width="138" height="100" alt="Overall interface in German"/></a>
     </td>

   </tr>
   <tr>
     <td colspan="4" class="translator">WDS team
     </td>
   </tr>
   <tr>
     <td class="langtab"><br />1.0.0<br />(+help)
     </td>
     <td class="langtab"><br />English
     </td>

     <td class="langtab"><br />English
     </td>
     <td class="langtab"><br />ENG (0409)
     </td>
     <td rowspan="2" class="langtab bordleft">
       <a href="images/0409/select.png"><img src="images/0409/select.jpg" width="130" height="100" alt="Directory selection in English"/></a>
       <a href="images/0409/wds_full.png"><img src="images/0409/wds_full.jpg" width="138" height="100" alt="Overall interface in English"/></a>
     </td>
   </tr>
   <tr>

     <td colspan="4" class="translator">WDS team
     </td>
   </tr>
   <tr>
     <td class="newest langtab"><br />1.1.2<br />&nbsp;
     </td>
     <td class="langtab"><br />Spanish
     </td>
     <td class="langtab"><br />Espa&#xF1;ol
     </td>

     <td class="langtab"><br />ESL/SPA (040a)
     </td>
     <td rowspan="2" class="langtab bordleft">
       <a href="images/040a/select.png"><img src="images/040a/select.jpg" width="130" height="100" alt="Directory selection in Spanish"/></a>
       <a href="images/040a/wds_full.png"><img src="images/040a/wds_full.jpg" width="138" height="100" alt="Overall interface in Spanish"/></a>
     </td>
   </tr>
   <tr>
     <td colspan="4" class="translator">Thanks to Sergio Omar Maurelli
     </td>

   </tr>
   <tr>
     <td class="newest langtab"><br />1.1.2<br />&nbsp;
     </td>
     <td class="langtab"><br />Finnish
     </td>
     <td class="langtab"><br />Suomi
     </td>
     <td class="langtab"><br />FIN (040b)
     </td>

     <td rowspan="2" class="langtab bordleft">
<!--       <a href="images/040b/select.png"><img src="images/040b/select.jpg" width="130" height="100" alt="Directory selection in Finnish"/></a>
       <a href="images/040b/wds_full.png"><img src="images/040b/wds_full.jpg" width="138" height="100" alt="Overall interface in Finnish"/></a>-->
     </td>
   </tr>
   <tr>
     <td colspan="4" class="translator">Thanks to Markus Hietaranta
     </td>
   </tr>
   <tr>
     <td class="langtab"><br />1.1.0<br />&nbsp;

     </td>
     <td class="langtab"><br />French
     </td>
     <td class="langtab"><br />Fran&#xE7;ais
     </td>
     <td class="langtab"><br />FRA/FRE (040c)
     </td>
     <td rowspan="2" class="langtab bordleft">
       <a href="images/040c/select.png"><img src="images/040c/select.jpg" width="130" height="100" alt="Directory selection in French"/></a>
       <a href="images/040c/wds_full.png"><img src="images/040c/wds_full.jpg" width="138" height="100" alt="Overall interface in French"/></a>

     </td>
   </tr>
   <tr>
     <td colspan="4" class="translator">Thanks to Pascal Delrot and <a href="http://ultravnc.sf.net">'UltraSam'</a>

     </td>
   </tr>
   <tr>

     <td class="newest langtab"><br />1.1.2<br />(+help)
     </td>
     <td class="langtab"><br />Hungarian
     </td>
     <td class="langtab"><br />Magyar
     </td>
     <td class="langtab"><br />HUN (040e)
     </td>
     <td rowspan="2" class="langtab bordleft">
       <a href="images/040e/select.png"><img src="images/040e/select.jpg" width="130" height="100" alt="Directory selection in Hungarian"/></a>

       <a href="images/040e/wds_full.png"><img src="images/040e/wds_full.jpg" width="138" height="100" alt="Overall interface in Hungarian"/></a>
     </td>
   </tr>
   <tr>
     <td colspan="4" class="translator">Thanks to 'Leonard Nimoy'
     </td>
   </tr>
   <tr>
     <td class="newest langtab"><br />1.1.2<br />&nbsp;

     </td>
     <td class="langtab"><br />Italian
     </td>
     <td class="langtab"><br />Italiano
     </td>
     <td class="langtab"><br />ITA (0410)
     </td>
     <td rowspan="2" class="langtab bordleft">
       <a href="images/0410/select.png"><img src="images/0410/select.jpg" width="130" height="100" alt="Directory selection in Italian"/></a>
       <a href="images/0410/wds_full.png"><img src="images/0410/wds_full.jpg" width="138" height="100" alt="Overall interface in Italian"/></a>

     </td>
   </tr>
   <tr>
     <td colspan="4" class="translator">Thanks to <a href="http://www.antotranslation.com">Maria Antonietta Ricagno</a>
     </td>
   </tr>
   <tr>
     <td class="newest langtab"><br />1.1.2<br />&nbsp;

     </td>
     <td class="langtab"><br />Dutch
     </td>
     <td class="langtab"><br />Nederlands
     </td>
     <td class="langtab"><br />DUT/NLA (0413)
     </td>
     <td rowspan="2" class="langtab bordleft">
<!--       <a href="images/0413/select.png"><img src="images/0413/select.jpg" width="130" height="100" alt="Directory selection in Italian"/></a>
       <a href="images/0413/wds_full.png"><img src="images/0413/wds_full.jpg" width="138" height="100" alt="Overall interface in Italian"/></a>-->
     </td>
   </tr>

   <tr>
     <td colspan="4" class="translator">Thanks to Gerben Wieringa
     </td>
   </tr>
   <tr>
     <td class="langtab"><br />1.1.1<br />(+help)
     </td>
     <td class="langtab"><br />Polish
     </td>
     <td class="langtab"><br />Polski
     </td>

     <td class="langtab"><br />POL (0415)
     </td>
     <td rowspan="2" class="langtab bordleft">
       <a href="images/0415/select.png"><img src="images/0415/select.jpg" width="130" height="100" alt="Directory selection in Polish"/></a>
       <a href="images/0415/wds_full.png"><img src="images/0415/wds_full.jpg" width="138" height="100" alt="Overall interface in Polish"/></a>
     </td>
   </tr>
   <tr>
     <td colspan="4" class="translator">Thanks to Dariusz Ma&#x142;achowski
     </td>

   </tr>
   <tr>
     <td class="langtab"><br />1.1.1<br />&nbsp;
     </td>
     <td class="langtab"><br />Russian
     </td>
     <td class="langtab"><br />&#x420;&#x443;&#x441;&#x441;&#x43A;&#x438;&#x439;/Russkij
     </td>
     <td class="langtab"><br />RUS (0419)
     </td>

     <td rowspan="2" class="langtab bordleft">
       <a href="images/0419/select.png"><img src="images/0419/select.jpg" width="130" height="100" alt="Directory selection in Russian"/></a>
       <a href="images/0419/wds_full.png"><img src="images/0419/wds_full.jpg" width="138" height="100" alt="Overall interface in Russian"/></a>
     </td>
   </tr>
   <tr>
     <td colspan="4" class="translator">Thanks to Sergey Polyetayev (&#x421;&#x435;&#x440;&#x433;&#x435;&#x439; &#x41F;&#x43E;&#x43B;&#x435;&#x442;&#x430;&#x435;&#x432;)
     </td>

   </tr>
   <tr>
     <td class="langtab"><br />1.1.2<br />&nbsp;
     </td>
     <td class="langtab"><br />Estonian
     </td>
     <td class="langtab"><br />Eesti
     </td>
     <td class="langtab"><br />EST (0425)
     </td>

     <td rowspan="2" class="langtab bordleft">
<!--       <a href="images/0425/select.png"><img src="images/0425/select.jpg" width="130" height="100" alt="Directory selection in Estonian"/></a>
       <a href="images/0425/wds_full.png"><img src="images/0425/wds_full.jpg" width="138" height="100" alt="Overall interface in Estonian"/></a>-->
     </td>
   </tr>
   <tr>
     <td colspan="4" class="translator">Thanks to 'Logard'
     </td>
   </tr>
   <tr>
     <td colspan="5" class="langtab" style="text-align: left; font-weight: bold; background-color: #dddddd;">12 languages overall. Helpfile available in 4 of these languages.
     </td>

   </tr>
  </table>
[% END %]
