[% WRAPPER 'html-body.tt'
   title = 'Notes on Unicode'
   description = 'Notes on Unicode - Why is Unicode relevant?'
   uuid = '18f81132-3a23-474c-9b64-ff066752cc21'
   norder = '7000'
%]
  <p>
  So why would you like to use the Unicode? Since this may not be obvious
  here is a short list of arguments to consider. Please note that the Unicode versions
  are only available for Windows NT/2000/XP/2003/Vista, though they may run fine
  on Windows 9x/ME with the unicode layer installed - <em>we do not support this, however</em>!
  </p>
  <ul>

    <li style="clear:both;"><b>The Unicode version runs faster</b>. Due to the fact that Windows, starting with NT,
      supports Unicode natively, the ANSI system functions are only wrappers around the
      actual Unicode functions. Whenever text (e.g. file names) is passed into one of the
      ANSI functions, it will be converted to Unicode first and disposed after the call.
      This is why the Unicode version runs faster on the NT platform.
      </li>
    <li style="clear:both;"><b>Unicode allows you to represent all kind of characters</b> (letters) without ever
      changing the code page. Whereas on Windows 9x/ME you had to configure your system
      to show a certain language, newer systems will be able to use a wealth of
      languages without ever being reconfigured. Of course you want to have a demonstration,
      right? So here it is:
      <ol>
        <li style="clear:both;"><em>Without</em> Unicode:<br />
          <div class="cent" style="float:left; border:1px solid green; margin:0.2em; width:325px;">
           <a href="images/unicode/ANSI_WDS_DEU.png">

           <img src="images/unicode/ANSI_WDS_DEU_small.png" width="232" height="124" alt="ANSI version on a German system"/>
           </a>
          <div class="cent miniari" style="color:gray;">ANSI on a German system (click for full view)</div>
          </div>
          As you can see only certain characters are shown directly. Some are even
          replaced by question marks. This raises an additional problem: whenever
          a question mark is encountered the usual file-handling application would
          consider this as a wildcard ("placeholder"). Hence such filenames cannot
          be handled properly in ANSI versions.<br />Also some of the characters
          are replaced by those which are locally available. Note the slight difference
          between &#x3B2; (Greek letter beta) and &#xDF; (German ligature sz).<br />

          However, on the NT platform it may happen you stumble over a system with
          Chinese, Hebrew, German and Russian text at once. In this case the ANSI
          version will make you more problems than it would solve. You will not be
          able to perform certain actions on a file or directory just because the
          filename is not understood by the system.
          </li>
        <li style="clear:both;"><em>With</em> Unicode:<br />
          <div class="cent" style="float:left; border:1px solid green; margin:0.2em; width:325px;">
           <a href="images/unicode/Unicode_WDS.png">
           <img src="images/unicode/Unicode_WDS_small.png" width="323" height="124" alt="Unicode version on a German system"/>
           </a>
          <div class="cent miniari" style="color:gray;">Unicode on a German system (click for full view)</div>

          </div>
          Here you can see several characters as they would appear on a system in the
          respective country. Note however, that Georgian shows only as squares. This
          happens if the font you use does not have the graphical representation for
          the characters. Though this may be a cosmetic problem, it is not a problem
          when it comes to file operations, since the filename is fully correct, even
          if it is being transferred. This is the major advantage of the Unicode version.
          </li>
      </ol>
      <div style="clear:both;">
      And yes, this also means that as a Pole or Russian you can have the interface
      of WinDirStat in your preferred language even though you work on a Western Windows
      (which likely does not support all needed characters in the ANSI version).
      </div>
      </li>
  </ul>
[% END %]
