///////////////////////////////////////////////////////////////////////////////
///
/// Copyright © WinDirStat Team
///
/// Permission is hereby granted, free of charge, to any person obtaining a
/// copy of this software and associated documentation files (the "Software"),
/// to deal in the Software without restriction, including without limitation
/// the rights to use, copy, modify, merge, publish, distribute, sublicense,
/// and/or sell copies of the Software, and to permit persons to whom the
/// Software is furnished to do so, subject to the following conditions:
///
/// The above copyright notice and this permission notice shall be included in
/// all copies or substantial portions of the Software.
///
/// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
/// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
/// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
/// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
/// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
/// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
/// DEALINGS IN THE SOFTWARE.
///
///////////////////////////////////////////////////////////////////////////////

#include <winnt.rh>
#include <verrsrc.h>

#ifdef RC_INVOKED
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(65001)
#include "version.h"

#define _STRING(text) #text L"\0"
#define STRING(text) _STRING(text)

#define CREATE_XVER(maj,min,patch,build) maj ## , ## min ## , ## patch ## , ## build
#define CREATE_FVER(maj,min,patch,build) maj ## . ## min ## . ## patch ## . ## build
#define CREATE_PVER(maj,min,patch,build) maj ## . ## min ## . ## patch

#if (defined(DBG) && (DBG)) || defined(_DEBUG)
#define ACTUAL_FILEFLAGS VS_FF_DEBUG
#else
#define ACTUAL_FILEFLAGS 0
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION CREATE_XVER(FILE_MAJVER, FILE_MINVER, FILE_PATCH, FILE_BUILD)
 PRODUCTVERSION CREATE_XVER(PRD_MAJVER, PRD_MINVER, PRD_PATCH, PRD_BUILD)
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS ACTUAL_FILEFLAGS
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", STRING(TEXT_WEBSITE)
            VALUE "CompanyName", STRING(STRING_COMPANY)
            VALUE "FileDescription", STRING(TEXT_FILEDESC)
            VALUE "FileVersion", STRING(CREATE_FVER(FILE_MAJVER, FILE_MINVER, FILE_PATCH, FILE_BUILD))
            VALUE "LegalCopyright", STRING_COPYRIGHT
            VALUE "OriginalFilename", STRING(STRING_EXENAME)
            VALUE "ProductName", STRING(TEXT_PRODUCTNAME)
            VALUE "ProductVersion", STRING(CREATE_PVER(FILE_MAJVER, FILE_MINVER, FILE_PATCH, FILE_BUILD))
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0000, 0x04b0
    END
END

#endif // RC_INVOKED
