<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi?>
  <Product Id="$(var.ProductID)" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Comments="$(var.ProductName) $(var.ProductVersion) ($(sys.BUILDARCH))"/>
    <Upgrade Id="$(var.UpgradeCodeAlt)">  
      <UpgradeVersion OnlyDetect="no" Minimum="1.0.0.0" Maximum="99.0.0.0" Property="OLDPRODUCTS" IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>      
    <Icon Id="WinDirStat.ico" SourceFile="$(var.IconFilePath)"/>
    <Property Id="ARPCONTACT" Value="$(var.Contact)"/>
    <Property Id="ARPHELPLINK" Value="$(var.HelpLink)"/>
    <Property Id="ARPPRODUCTICON" Value="WinDirStat.ico"/>
    <Property Id="ARPREADME" Value="$(var.ReadMeLink)"/>   
    <Property Id="ARPSIZE" Value="$(var.EstimatedSize)"/>
    <Property Id="ARPURLINFOABOUT" Value="$(var.AboutLink)"/>
    <Property Id="ARPURLUPDATEINFO" Value="$(var.UpdateLink)"/>
    <Property Id="ARPCOMMENTS" Value="$(var.ProductName) $(var.ProductVersion) ($(sys.BUILDARCH))"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
    <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLFOLDER]" After="CostFinalize" />
    <MajorUpgrade AllowSameVersionUpgrades="$(var.AllowSameVersionUpgrades)" DowngradeErrorMessage="A newer version of [ProductName] is already installed." Schedule="afterInstallInitialize"/>
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>
    <UIRef Id="WixUI_InstallDir"/>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.LicenseRtf)"/>
    <WixVariable Id="WixUIBannerBmp" Value="$(var.BannerBmp)"/>
    <WixVariable Id="WixUIDialogBmp" Value="$(var.DialogBmp)"/>
    <Feature Id="FT_Core" Title="WinDirStat" Absent="disallow" Description="Includes WinDirStat">
      <ComponentRef Id="Component_Main"/>
      <ComponentRef Id="Component_ContextMenuEntry"/>
      <ComponentRef Id="Component_DesktopShortcut"/>
    </Feature>
    <Property Id="LEGACY_UNINSTALL_SCRIPT">
      <![CDATA[
        POWERSHELL -NoLogo -NonInteractive -NoProfile -ExecutionPolicy Bypass -WindowStyle Hidden -Command "& {
        $ErrorActionPreference = 'SilentlyContinue'
        Get-Process 'WinDirStat*' | Stop-Process -Force
        $Keys = @()
        $Keys += Get-ChildItem 'Registry::HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Uninstall\WinDirStat'
        $Keys += Get-ChildItem 'Registry::HKEY_USERS\*\Software\Microsoft\Windows\CurrentVersion\Uninstall\WinDirStat'
        ForEach ($Key in $Keys)
        {
            $Path = $Key.GetValue('InstallLocation')
            If (-not (Test-Path ($Path + '\*'))) { Continue }
            Remove-Item -Path ($Path + '\wdsh*.chm') -Force
            Remove-Item -Path ($Path + '\wdsr*.dll') -Force
            Remove-Item -Path ($Path + '\WinDirStat*.*') -Force     
            Remove-Item -Path ($Path + '\Uninstall.exe') -Force
            If (-not (Test-Path ($Path + '\*'))) { Remove-Item -Path $Path -Force }
            Remove-Item -Path $Key.PSPath -Force      
        }
        Remove-Item -Path ($env:SystemDrive + '\Users\*\Desktop\WinDirStat.lnk') -Force        
        Remove-Item -Path ($env:SystemDrive + '\Users\*\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\WinDirStat') -Force -Recurse
        Remove-Item -Path ($env:ProgramData + '\Microsoft\Windows\Start Menu\Programs\WinDirStat') -Force -Recurse
    }"     
      ]]>
    </Property>    
    <CustomAction Id="DoLegacyUninstall" Directory="TempFolder" ExeCommand="[LEGACY_UNINSTALL_SCRIPT]" Execute="deferred" Impersonate="no" Return="ignore"/>
    <InstallExecuteSequence>
      <Custom Action="DoLegacyUninstall" Before="InstallFiles">NOT REMOVE</Custom>
    </InstallExecuteSequence>
    <Property Id="DESKTOP_SHORTCUT_LOCATE">
      <DirectorySearch Id="DesktopFolderSearch" Path="[DesktopFolder]" AssignToProperty="yes">
        <FileSearch Id="DesktopShortcutFileSearch" Name="WinDirStat.lnk"/>
      </DirectorySearch>
    </Property>
    <SetProperty Id="DESKTOP_SHORTCUT" After="AppSearch" Value="1" Sequence="first">
    <![CDATA[((WIX_UPGRADE_DETECTED <> "" AND DESKTOP_SHORTCUT_LOCATE <> "") OR ENABLE_SHORTCUT = 1)]]></SetProperty>
    <Property Id="CONTEXT_MENU_LOCATE">
      <RegistrySearch Id='ContextMenuSearch' Type='raw' Root='HKCR' Key='Directory\shell\WinDirStat' Name="Icon" Win64="$(var.Win64)"/>
    </Property>
    <SetProperty Id="CONTEXTMENU_ENTRY" After="AppSearch" Value="1" Sequence="first">
    <![CDATA[((WIX_UPGRADE_DETECTED <> "" AND CONTEXT_MENU_LOCATE <> "") OR NOT WIX_UPGRADE_DETECTED) AND DISABLE_CONTEXTMENU <> 1]]></SetProperty>
    <UI Id="InstallerUI">
      <Dialog Id="OptionsDlg" Width="370" Height="270" Title="WinDirStat Options">
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="2"/>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="2"/>
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Select the options below to customize your WinDirStat experience.</Text>
        </Control>        
        <Control Id="Title" Type="Text" X="15" Y="6" Width="210" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Install Options"/>
        <Control Id="DesktopShortcutCheckBox" Type="CheckBox" Height="18" Width="295" X="26" Y="58" Text="Create Desktop Shortcut" Property="DESKTOP_SHORTCUT" CheckBoxValue="1"/>
        <Control Id="ContextMenuEntryCheckBox" Type="CheckBox" Height="18" Width="295" X="26" Y="79" Text="Create Classic Shell Context Menu Entry" Property="CONTEXTMENU_ENTRY" CheckBoxValue="1"/>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Event="NewDialog" Value="VerifyReadyDlg" Order="10"/>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)">
          <Publish Event="NewDialog" Value="InstallDirDlg" Order="10"/>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="OptionsDlg" Order="10">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="OptionsDlg" Order="10">NOT Installed</Publish>
    </UI>
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFilesNative)">
        <Directory Id="INSTALLFOLDER" Name="WinDirStat"/>
      </Directory>
      <Directory Id="ProgramMenuFolder"/>
      <Directory Id="TempFolder"/>
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Component_Main" Guid="{48E1104D-2466-4ADC-8BC0-521B6EBA8621}" Win64="$(var.Win64)">
        <File Id="File_Main" KeyPath="yes" Source="$(var.ProductBinariesDir)\$(var.WinDirStatExe)" Name="WinDirStat.exe">
          <Shortcut Id="File_Main_Shortcut" Directory="ProgramMenuFolder" WorkingDirectory="INSTALLFOLDER" Name="WinDirStat" Advertise="no">
            <ShortcutProperty Key="{9F4C2855-9F79-4B39-A8D0-E1D42DE1D5F3}, 5" Value="WinDirStat"/>
          </Shortcut>
        </File>
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="Component_ContextMenuEntry" Guid="{7B6A2A2E-BF9E-4F37-8EAA-0E7E6B98D87A}" Win64="$(var.Win64)">
        <Condition>CONTEXTMENU_ENTRY</Condition>
        <RegistryKey Root="HKCR" Key="Directory\shell\WinDirStat" ForceDeleteOnUninstall="yes">
          <RegistryValue Name="Icon" Value="[INSTALLFOLDER]WinDirStat.exe" Type="string"/>
          <RegistryValue Value="WinDirStat" Type="string"/>
          <RegistryKey Key="command">
            <RegistryValue Value="&quot;[INSTALLFOLDER]WinDirStat.exe&quot; %*" Type="string"/>
          </RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="Drive\shell\WinDirStat" ForceDeleteOnUninstall="yes">
          <RegistryValue Name="Icon" Value="[INSTALLFOLDER]WinDirStat.exe" Type="string"/>
          <RegistryValue Value="WinDirStat" Type="string"/>
          <RegistryKey Key="command">
            <RegistryValue Value="&quot;[INSTALLFOLDER]WinDirStat.exe&quot; %*" Type="string"/>
          </RegistryKey>
        </RegistryKey>
      </Component>
      <Component Id="Component_DesktopShortcut" Guid="{82879C46-B937-405B-8931-EB8FE3CF606A}" Win64="$(var.Win64)">
        <Condition>DESKTOP_SHORTCUT</Condition>
        <Shortcut Id="ConfigDesktopShortcut" Name="WinDirStat" WorkingDirectory="INSTALLFOLDER" Directory="DesktopFolder" Target="[INSTALLFOLDER]WinDirStat.exe"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
